<div class="orders-page">


  <div class="order-card" *ngFor="let order of orders">

    <!-- Top -->
    <div class="order-top">
      <span class="order-id">Order • {{ getOrderId(order._id) }} </span>
      <span class="status" [ngClass]="order.orderStatus.toLowerCase()">
        {{ order.orderStatus }}
      </span>
    </div>

    <!-- Body -->
    <div class="order-body" *ngFor="let item of order.items">
      <div class="img-wrap">
        <img [src]="item.image" />
      </div>

      <div class="info">
        <h3>{{ item.name }}</h3>
        <p>Placed on {{ order.createdAt | date:'mediumDate' }}</p>

        <div class="price-row">
          <span class="price">{{ order.totalAmount | currency:'INR':'symbol':'1.0-0'}}</span>
          <span class="qty">Qty: {{ order.items[0].quantity }}</span>
        </div>
        <div class="review-trigger" >

    <div class="stars">
     <span
    *ngFor="let star of [1,2,3,4,5]"
    (click)="!item.reviewDisabled && (item.selectedRating = star)"
    [class.active]="item.selectedRating >= star"
    [class.disabled]="item.reviewDisabled">

    ★

  </span>
    </div>

<span class="write-review"
      *ngIf="!item.hasReviewed && item.selectedRating > 0"
      (click)="openReviewPopup(order,item)">
      Write Review
</span>

    </div>
      </div>

</div>

    <!-- Buttons -->
    <div class="order-footer">
      <button class="btn-outline" (click)="showOrderDetails(order)">
        View Order
      </button>
      <button class="btn-primary" (click)="trackOrderInWindows(order)">
        Track Order
      </button>
    </div>

    <!-- VIEW ORDER -->
    <div class="view-order" *ngIf="order.showDetails">
      <div class="detail-row">
        <span>Delivery Address</span>
        <p>{{ order.address.name }}</p>
        <p>{{ order.address.phone }}</p>
          <p>{{ order.address.street }}</p>
         <p class="address-line">
  <span>{{ order.address.pinCode }}</span>
  <span>{{ order.address.state }}</span>
    <span>{{ order.address.country }}</span>
</p>

          
  
             
      </div>

      <div class="detail-row">
        <span>Payment</span>
        <p>{{ order.paymentMode }}</p>
      </div>

      <div class="detail-row total">
        <span>Total Amount</span>
        <strong>{{ order.totalAmount | currency:'INR':'symbol':'1.0-0'}}</strong>
      </div>
    </div>

  <div class="tracking-container" *ngIf="order.showTracking">


  <!-- CURRENT STATUS -->
  <div class="current-status">

    <h5>
      {{ trackingData?.shipment_track[0]?.current_status }}
    </h5>

    <p>
      Expected Delivery :
      {{ trackingData?.shipment_track[0]?.edd }}
    </p>

  </div>


  <!-- TIMELINE -->

  <div class="timeline">

    <!-- REAL ACTIVITIES -->
    <ng-container *ngIf="activities.length > 0; else staticSteps">

      <div *ngFor="let item of activities" class="timeline-item">

        <div class="circle"></div>

        <div class="content">
          <h6>{{item.activity}}</h6>
          <p>{{item.location}}</p>
          <small>{{item.date}}</small>
        </div>

      </div>

    </ng-container>

    <!-- DEFAULT FLIPKART STYLE STEPS -->
    <ng-template #staticSteps>

      <div class="timeline-item active">
        <div class="circle"></div>
        <div class="content">Order Confirmed</div>
      </div>

      <div class="timeline-item active">
        <div class="circle"></div>
        <div class="content">AWB Generated</div>
      </div>

      <div class="timeline-item">
        <div class="circle"></div>
        <div class="content">Pickup Pending</div>
      </div>

      <div class="timeline-item">
        <div class="circle"></div>
        <div class="content">Out for Delivery</div>
      </div>

      <div class="timeline-item">
        <div class="circle"></div>
        <div class="content">Delivered</div>
      </div>

    </ng-template>

  </div>

</div>
  </div>
</div>


<!-- REVIEW POPUP -->
<div class="review-modal" *ngIf="showReviewPopup">
 <span class="close-btn" (click)="closeReview()">✕</span>
  <div class="modal-content">

    <h3>Write a Review</h3>

    <!-- Stars -->
 
 <!-- [(ngModel)]="reviewComment" -->
    <!-- Comment -->
    <textarea
      placeholder="Write your review..."
      [(ngModel)]="reviewComment"
     >
    </textarea>

    <!-- Upload -->
    <input type="file" multiple accept="image/*"
           (change)="onReviewImageUpload($event)" />

    <!-- Buttons -->
    <div class="actions">
      <button (click)="closeReview()">Cancel</button>
      <button (click)="submitReview()">Submit</button>
    </div>

  </div>

</div>
