<div class="product-page">

  <!-- LEFT: IMAGE GALLERY -->
  <div class="product-gallery">
   <div class="main-display" *ngIf="selectedFile">
  <!-- IMAGE -->
  <img *ngIf="selectedFile.type !== 'video'" [src]="selectedFile.url" class="main-image" />

  <!-- VIDEO -->
  <video *ngIf="selectedFile.type === 'video'" [src]="selectedFile.url" controls class="main-image"></video>
</div>

    
    <div class="thumbs" *ngIf="images.length > 0">
  <ng-container *ngFor="let file of images">

    <!-- IMAGE THUMB -->
    <img *ngIf="file.type !== 'video'"
         [src]="file.url"
          (click)="selectImage(file)"
         [class.active]="file === selectedImage" />

    <!-- VIDEO THUMB -->
    <div *ngIf="file.type === 'video'" class="video-thumb" (click)="selectImage(file)">
      <video [src]="file.url" muted></video>
      <span class="play-icon">&#9658;</span> <!-- small play icon overlay -->
      <div [class.active]="file === selectedImage" class="overlay"></div>
    </div>

  </ng-container>
</div>
  </div>



  <!-- RIGHT: PRODUCT INFO -->
  <div class="product-info">


    <h1>{{productDetail?.name}}</h1>
    <p class="subtitle" *ngIf="productDetail?.subtitle">{{productDetail?.subtitle}}</p>

    <!-- PRICE -->
    <div class="price-box">
      <span class="final-price">{{productDetail?.finalPrice | currency:'INR':'symbol':'1.0-0'}}/-</span>
      <span  class="mrp"  *ngIf="productDetail && productDetail.discount>0">{{productDetail?.price | currency:'INR':'symbol':'1.0-0'}}/-</span>
      <span class="discount" *ngIf="productDetail && productDetail.discount>0">{{productDetail?.discount | currency:'INR':'symbol':'1.0-0'}}% OFF</span>
    </div>

    <!-- RATINGS -->
    <div class="rating" *ngIf="productDetail && productDetail.ratingCount > 0">
      <div class="stars">
     <span
    *ngFor="let star of [1,2,3,4,5]"
    [class.active]="productDetail.ratingAverage >= star"
    [class.disabled]="true">

    ★

  </span> ({{productDetail.ratingCount}}) Reviews
    </div>
    </div>


    <!-- SHORT DESC -->
    <p class="short-desc" [innerHTML]="productDetail?.shortDescription"></p>



    <div class="variant-wrapper" *ngIf="productDetail && productDetail?.features?.length  ===  2">

      <button class="variant-btn regular" [class.active]="activeFeatureIndex === 0"
        (click)="clickOnFeature(productDetail.features[0].variants,0)">
        {{ productDetail && productDetail.features[0].label}}
      </button>

      <button class="variant-btn premium" [class.active]="activeFeatureIndex === 1"
        (click)="clickOnFeature(productDetail.features[1].variants,1)">
        {{productDetail && productDetail.features[1].label}}
      </button>
    </div>


    <!-- VARIANTS -->
    <div class="variants">
      <label>Select {{selectVariants[0]?.attribute}}</label>
      <div class="variant-options">
        <button *ngFor="let item of selectVariants; let i = index" (click)="setActive(i,item)"
          [class.active]="activeIndexForSelectVariant === i">{{item.value}}</button>
      </div>
    </div>
    <div class="quantity-wrapper">
  <span class="qty-label">Quantity</span>

  <div class="qty-box">
    <button type="button" (click)="decreaseQty()">−</button>
    <span>{{ quantity }}</span>
    <button type="button" (click)="increaseQty()">+</button>
  </div>
</div>

    <!-- ACTIONS -->
    <div class="actions">
      <button class="btn primary" (click)="cartName === 'AddtoCart' ? addToCart() : goToCart()">{{cartName === 'AddtoCart'? 'Add To Cart' : 'Go To Cart'}}</button>
      <button class="btn outline" (click)="buyNow()">Buy Now</button>
    </div>

    <!-- DELIVERY -->
    <div class="delivery">
      🚚 Free Delivery | 🔄 7 Days Return | 🔒 Secure Payment
    </div>

  </div>
</div>
<div class="review-card">

  <!-- Tab Header -->
  <div class="tab-header" (click)="toggleTab()">
    <h4>Product Rating & Reviews</h4>
     <span class="icon">
      <i class="fa"
         [ngClass]="isTabOpen ? 'fa-chevron-up' : 'fa-chevron-down'">
      </i>
    </span>
  </div>

  <!-- Tab Content -->
  <div *ngIf="isTabOpen">
   <div *ngIf="productDetail?.reviews?.length">
  <div class="review-card" *ngFor="let review of productDetail.reviews">

    <!-- USER -->
    <div class="review-header">
      <span class="user-name">{{ review.userName }}</span>

      <div class="stars">
        <span
          *ngFor="let star of [1,2,3,4,5]"
          [class.active]="review.rating >= star">
          ★
        </span>
      </div>
    </div>

    <!-- COMMENT -->
    <p class="review-text">{{ review.comment }}</p>

    <!-- REVIEW IMAGES -->
    <div class="review-images" *ngIf="review.reviewimages?.length">

      <img
        *ngFor="let img of review.reviewimages"
        [src]="img.url"
        class="review-img">

    </div>

    <small class="review-date">
      {{ review.createdAt | date:'mediumDate' }}
    </small>

  </div>

</div>
  </div>

</div>





<div class="product-container"> <!-- Left Column -->
  <div class="product-info">
    <h2 class="info-title">Product Details</h2>
    <div class="info-item" *ngFor="let section of sections; let i = index" [class.active]="activeIndex === i">
      <div class="info-header" (click)="toggleSection(i)">
        <span *ngIf="section.key">{{ section.key }}</span> <span class="icon">{{ activeIndex === i ? '−' : '+' }}</span>
      </div>
      <div class="info-content"> 
        <h5 *ngIf="section.title">{{section.title}}</h5>
         <p  [innerHTML]="section.content"></p>
        </div>
    </div>
  </div> <!-- Right Column -->
  <div class="assurance-box">
    <ul class="assurance-list">
      <li> <span class="icon">🚚</span> <span>FREE Delivery Available</span> </li>
      <li> <span class="icon">💰</span> <span>Cash on Delivery (COD) Available</span> </li>
      <li> <span class="icon">🎥</span> <span> For Return / Exchange, share product video on <strong>8287815478</strong>
        </span> </li>
      <li> <span class="icon">✅</span> <span>100% Original Guarantee</span> </li>
      <li> <span class="icon">🔄</span> <span>7 Days Return Policy (Orders under ₹12,000)</span> </li>
      <li> <span class="icon">📦</span> <span>Delivery within 5–6 Working Days</span> </li>
      <li> <span class="icon">📞</span> <span> Need Help? WhatsApp us at <strong>+91 8287815478</strong> </span> </li>
    </ul>
  </div>
</div>
<div class="related-products" *ngIf="relatedProducts?.length">
  <h3>Related Products</h3>

  <div class="related-scroll">
    <div class="related-card" *ngFor="let item of relatedProducts">
      <div class="related-img">
        <img [src]="item.mainImage.url" (click)="productNavigate(item.slug)" [alt]="item.name" />
      </div>

      <div class="related-info">
        <h4 (click)="productNavigate(item.slug)">{{ item.name }}</h4>

        <div class="price-box">
          <span class="final-price">
            {{ item.finalPrice | currency:'INR':'symbol':'1.0-0' }}
          </span>

          <span class="original-price" *ngIf="item.discount > 0">
            {{ item.price | currency:'INR':'symbol':'1.0-0' }}
          </span>

          <span class="discount" *ngIf="item.discount > 0">
            {{ item.discount }}% off
          </span>
        </div>

        <button class="cart-btn" (click)="addToCart(item)">Add to Cart</button>
      </div>
    </div>
  </div>
</div>