
<div class="shop-container">

  <!-- FILTER SIDEBAR -->
  <aside class="filter-box">
    <h3>Filters</h3>

    <div class="filter-group" *ngIf="!slugName">
      <h4>Category</h4>
      <label *ngFor="let item of categoryData"><input type="checkbox" value="item.slug"[checked]="selectedCategories.includes(item.slug)"
      (change)="onCategoryChange(item.slug, $event)"> {{item.name}}</label>
       <label > <input type="checkbox" value="all" 
      [checked]="isAllSelected"
      (change)="toggleAll($event)"> All </label>
    
    </div>

    <div class="filter-group">
      <h4>Price</h4>
      <select (change)="applyPriceFilter($event)" id="priceFilter">
        <option value="">All</option>
        <option value="low">Below ₹2000</option>
        <option value="mid">₹2000 – ₹5000</option>
        <option value="high">Above ₹5000</option>
      </select>
    </div>
  </aside>

  <!-- PRODUCT GRID -->
  <main class="product-grid" id="productGrid">

    <div class="product-card"  *ngFor="let item of filteredProducts"  data-category="rudraksh" data-price="1500" >
      <img [src]="item.mainImage.url" (click)="productNavigate(item._id)"/>
      <h4>{{item.name}}</h4>
     <div class="price-box"> <!-- Final Price --> <span class="final-price"> {{ item.finalPrice | currency:'INR':'symbol':'1.0-0' }} </span> <!-- Original Price --> <span class="original-price" *ngIf="item.discount>0"> {{ item.price | currency:'INR':'symbol':'1.0-0' }} </span> <!-- Discount Badge --> <span class="discount" *ngIf="item.discount>0"> {{ item.discount }}% OFF </span> </div>
      <button class="btn primary" (click)="cartName === 'AddtoCart' ? addToCart(item) : goToCart()">{{cartName === 'AddtoCart'? 'Add To Cart' : 'Go To Cart'}}</button>
    </div>

 

  </main>

</div>



    